body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.report {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.report_header {
  text-align: center;
}

.report-title {
  margin: 0;
  line-height: 1em;
  font-size: 1.3em;
}

.button-container {
  text-align: center;
}